/* *{
    margin: 0px;
    padding: 0px;
} */
.product{
    display: flex;
    margin-top: 30px;
    border-radius: 5px ;
    margin-bottom: 20px;   
     width: 88%;
    margin-left: 80px;
    
}
.product__title{
font-size: 30px;
font-weight: 300px;
display: block;
margin-left: 15px;
color: rgb(31, 27, 27);

}
.product__description{
    margin-left: 15px;
    font-size: 15px;
    width: 0px;
    line-height: 1.5;


}
.product__link{
     margin-left: 18px;
     text-decoration: none;
     list-style: none;
     padding-bottom: 50px;
     color: black;
} 
.product__first{
    border-radius: 8px;
    opacity: 1;
    
    transition: opacity 0.5s;
    background-color: rgb(250, 253, 253);
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);    
    /* margin-bottom: 20px;
    margin-left: 20px; */
}
.product__first :hover{
    border-top: 2px #e90a0a;
}
.product__mid{
    background-color: rgb(248, 251, 252);
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2); 
    margin: 20px;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.5s;
    margin-bottom: 20px;
    margin-left: 20px;   

}
.product__last{
    border-radius: 5px;
    margin: 20px;
    opacity: 1;
    transition: opacity 0.5s;
    background-color: rgb(253, 250, 253);
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);    

}
.product-scroll-disabled {
	overflow-x: hidden;
}